body {
  background-color: black;
  margin: 0;
  display: flex;
}
#gameDiv {
  margin: 0 auto;
}

.left {
  height: 90vh;
  width: 17vw;
  border: 1px solid black;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}
.right {
  height: 90vh;
  width: 17vw;
  border: 1px solid black;
  margin: 1% auto;
}
.click {
  margin: auto;
}
.pic {
  display: flex;
  margin: 5% auto;
  width: 100%;
  height: 20%;
}
img {
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 5px;
  margin: auto;
  height: 100%;
  width: 80%;
}
/*.player {
  list-style: none;

}
.pic {
  height: 20vh;
  width: 10vw;
  list-style: none;
}*/
